@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

.home-card-cnt {
  display: grid;
  column-gap: 25px;
  row-gap: 50px;
  grid-template-columns: 460px 460px 460px;
  grid-template-rows: 400px 400px 400px 400px;
  padding-left: 100px;
  gap: 1.2rem;
  padding-top: 30px;
  padding-bottom: 30px;
}

.home-header-cnt {
  display: flex;
  width: 100%;
  max-width: 1450px;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  margin-bottom: 31px;
}

.header-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.header-text-second {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4f4f4f;
}
