@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

.card-main-cnt {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.img {
  width: 395px;
  height: 269px;
  left: 94px;
  top: 209px;
  border-radius: 24px;
}

.card-dtls {
  display: flex;
  width: 395px;
  justify-content: space-between;
  padding-right: 60px;
}

.card-dtls-first {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.card-superHost-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 28px;
  left: 94px;
  top: 493px;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
}

.card-heading {
  width: 81px;
  height: 15px;
  left: 104px;
  top: 500px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #4f4f4f;
}

.card-type,
.card-bed {
  height: 17px;
  width: fit-content;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.card-dtls-second {
  display: flex;
}

.card-rating {
  width: 32px;
  height: 17px;
  left: 456px;
  top: 499px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4f4f4f;
}

.card-star {
  left: 17.17%;
  right: 17.17%;
  top: 10.2%;
  bottom: 23.63%;
}

.card-title {
  width: 308px;
  height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}
